

.more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid #dadde1;
    border-radius: 200px;
    padding: 16px 30px;
    margin: 40px auto 0;
    width: 145px;
    height: 56px;

    font-weight: 500;
    letter-spacing: -0.01em;
}