
.container {
    display: flex;
    flex-direction: column;
    width: 360px;
    margin-right: 64px;
}

.location {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
}

.label {
    color: #6c717b;
    margin-bottom: 8px;
}

.input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    border-radius: 12px;
    border-color: transparent;
    padding: 18px 218px 18px 48px;
    width: 360px;
    height: 56px;

    background: #f7f7f7;
}

.map {
    position: absolute;
    top: 50px;
    left: 20px;
}

.filters {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
}

.list {
    padding-top: 24px;
    border-top: 1px solid #dadde1;
    width: 360px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 12px;
    margin-bottom: 32px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 1px solid #dadde1;
    border-radius: 12px;
    padding: 16px 40px;
    width: 112px;
    height: 96px;
    mix-blend-mode: multiply;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.01em;
}

.search {
    margin-top: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 200px;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    background: #e44848;

    font-weight: 500;
    letter-spacing: -0.01em;
    color: #fff;
}